<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <!-- critical path css -->
  <style>
  body {
    max-width: 800px;
    margin: 0 auto;
  }

  .content {
    display: flex;
  }

  .sections {
    max-width: 80%;
    margin-left: 20px;
  }
  </style>
  <!-- /critical path css -->

  <!-- user and style guide styles -->
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <!-- /user and style guide styles -->
</head>
<body>
  <header>{{title}}</header>

  <div class="content">

    <ul class="nav">
      {{#each sections}}
      <li class="nav-item">
        <a clss="nav-link" href="#{{id}}">{{name}}</a>

        {{~#if children}}

        <ul class="subnav">
          {{#each children}}
          <li class="nav-item">
            <a clss="nav-link" href="#{{../id}}-{{id}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
        {{~/if}}

      </li>
      {{/each}}
    </ul>

    <main class="sections">
      {{#each sections}}
      <section class="section" id="{{id}}">
        <h2 class="section-title">{{name}}</h1>
        <div class="section-description">{{{description}}}</div>

        {{#each children}}
        <div class="subsection">
          <div id="{{../id}}-{{id}}">
            <h3 class="section-title">{{name}}</h1>
            <div class="section-description">{{{description}}}</div>
          </div>
        </div>

        {{/each}}

        {{~#if example}}
        {{{example.description}}}
        {{/if}}

        {{~#if code}}
        <div class="markup">
          <pre class="code"><code class="language-{{code.type}}">{{code.description}}</code></pre>
        </div>
        {{/if}}
      </section>

      {{/each}}
    </main>

  </div>

  <!-- prism -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.4.1/themes/prism.css">
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/components/prism-markup.min.js"></script>
  <!-- /prism -->

  <!-- user scripts -->
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
  <!-- /user scripts -->
</body>
</html>