<!DOCTYPE html>
<html class="livingcss">
<head>
  <title>{{title}}</title>

  <!-- critical path css -->
  {{> criticalCss}}
  <!-- /critical path css -->

  <!-- user styles -->
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <!-- /user styles -->
</head>
<body class="livingcss">
  <div class="livingcss__wrapper">

    <header class="livingcss__header">
      <h1 class="livingcss__container livingcss__header-title livingcss__inverse-text">{{title}}</h1>

      <nav class="livingcss__main-nav">
      {{#each pages}}
        <a class="livingcss__main-nav-link" href="{{@key}}.html">{{@key}}</a>
      {{/each}}
      </nav>
    </header>

    <div class="livingcss__container livingcss__content">

      <main class="livingcss__main" role="main">

        {{#each sections}}
        <article class="livingcss__section" id="{{id}}">
          <h1 class="livingcss__section-title">{{name}}</h1>
          {{~> section}}

          {{#children}}
          {{~> childSection}}
          {{/children}}
        </article>
        {{/each}}

      </main>

      <nav class="livingcss__nav">
        <div class="livingcss__nav-container">
        {{#each sections}}
          <a class="livingcss__nav-link" href="#{{id}}">{{name}}</a>
        {{/each}}
        </div>
      </nav>

    </div>

    <footer class="livingcss__footer livingcss__inverse-text">
      <div class="livingcss__container">Style Guide generated with <a href="https://github.com/straker/livingcss">LivingCSS</a>.</div>
    </footer>

  </div>

  <!-- prism -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.4.1/themes/prism.css">
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/components/prism-markup.min.js"></script>
  <!-- /prism -->

  <!-- user scripts -->
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
  <!-- /user scripts -->

  {{> mainScript}}

</body>
</html>